<nav class='navbar bg-secondary'>
  <div class='container-fluid'>
    <a class='navbar-brand .text-light d-flex align-items-center' href='#'>
      <img
        src='/images/list-note.png'
        alt='Logo'
        width='40'
        height='36'
        class='d-inline-block align-text-top m-1'
      />Expense Tracker
    </a>
  </div>
</nav>