i {
  font-size: 1.6rem;
  color: #526591;
}
table td {
  vertical-align: middle;
}
table p {
  margin-bottom: 0;
}
td:not(:nth-child(2)) {
  text-align: center;
}
table td:nth-child(4) {
  text-align: end;
}
table td:nth-child(4) i {
  font-size: 1.25rem;
}

