header {
  overflow: hidden;
}

body {
  background-image: url('https://images.pexels.com/photos/4386324/pexels-photo-4386324.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.center-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.login-container {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  padding: 20px;
}
